<a href="https://colab.research.google.com/github/bwmko249/Capstone-Project-Bike-sharing/blob/main/Cyclistic_data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# GOOGLE DATA ANALYST CAPSTONE PROJECT 
### DATA CLEANING FOR CYCLISTIC BIKE SHARING DATA

## **BACKGROUND**
Cyclistic is a fictional bike sharing program which features more than 5,800 bikes and 600 docking stations. It offers reclining bikes, hand tricycles, and cargo bikes, making it more inclusive to people with disabilities and riders who can't use a standard two-wheeled bike. It was founded in 2016 and has grown tremendously into a fleet of bicycles that are geotracked and locked into a network of 692 stations across Chicago. The bikes can be unlocked from one station and returned to any other station in the system anytime. 


Previously, Cyclistic's marketing strategy tried to build the general awareness and appeal to broad consumers. It has flexible pricing plans: single-ride passes, full-day passes, and annual memberships. Those who purchase single-ride or full-day passes are referred to as casual riders while those who purchase annual memberships are Cyclistic members. 


**My Role**: In this scenario I am a junior data analyst at Cyclistic and my team has been tasked with the aim of designing marketing strategies to convert casual riders into members.


**The business task**: The company wants to improve their earnings reaching out to their “casual” riders, and for that they have to analyze in what aspects the “casual” and the annual customers differ, to be able to create a focused and successful marketing campaign to the “casual” customers converting them to members. This can br summarized by the question:

What could motivate the “casual” users to change to an annual subscription based on their behavior?

###**PROCESS**:

The data is first viewed in  Microsoft Excel then analysed using python where data wrangling is performed on the data as will be shown in this notebook.
missing values, incorrect formats and new columns will be added as appropriate in order to be able to gain valuable insights from the data.
The ultimate vizualisation will be done in Tableau and can be viewed here. https://public.tableau.com/views/GoogleCapstoneCyclisticCaseStudy_16559347808530/Dashboard?:language=en-US&:display_count=n&:origin=viz_share_link

In [ ]:
# importing the necesssary libraries

import pandas as pd
import numpy as np
from datetime import datetime

In [ ]:
# loading in the data from different sources into the notebook

df1= pd.read_csv('/content/Divvy_Trips_2018_Q1.csv')
df2= pd.read_csv('/content/Divvy_Trips_2018_Q2.csv')
df3=pd.read_csv('/content/Divvy_Trips_2018_Q3.csv')

In [ ]:
# checking the name of columns

total_trips.columns

Index(['01 - Rental Details Rental ID', '01 - Rental Details Local Start Time',
       '01 - Rental Details Local End Time', '01 - Rental Details Bike ID',
       '01 - Rental Details Duration In Seconds Uncapped',
       '03 - Rental Start Station ID', '03 - Rental Start Station Name',
       '02 - Rental End Station ID', '02 - Rental End Station Name',
       'User Type', 'Member Gender',
       '05 - Member Details Member Birthday Year', 'trip_id', 'start_time',
       'end_time', 'bikeid', 'tripduration', 'from_station_id',
       'from_station_name', 'to_station_id', 'to_station_name', 'usertype',
       'gender', 'birthyear'],
      dtype='object')

In [ ]:
total_trips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2949290 entries, 0 to 2949289
Data columns (total 24 columns):
 #   Column                                            Dtype
---  ------                                            -----
 0   01 - Rental Details Rental ID                     float64
 1   01 - Rental Details Local Start Time              object
 2   01 - Rental Details Local End Time                object
 3   01 - Rental Details Bike ID                       float64
 4   01 - Rental Details Duration In Seconds Uncapped  object
 5   03 - Rental Start Station ID                      float64
 6   03 - Rental Start Station Name                    object
 7   02 - Rental End Station ID                        float64
 8   02 - Rental End Station Name                      object
 9   User Type                                         object
 10  Member Gender                                     object
 11  05 - Member Details Member Birthday Year          float64
 12  trip_id                                           float64
 13  start_time                                        object
 14  end_time                                          object
 15  bikeid                                            float64
 16  tripduration                                      object
 17  from_station_id                                   float64
 18  from_station_name                                 object
 19  to_station_id                                     float64
 20  to_station_name                                   object
 21  usertype                                          object
 22  gender                                            object
 23  birthyear                                         float64
dtypes: float64(10), object(14)
memory usage: 540.0+ MB


Cleaning the data and preparing It for analysis by checking for nulls, dealing with wrong inputs, possible errors and adjusting the date.

Renaming the colums of the 3 datasets that will be concaTenated as the 3 datasets have differnt column names

In [ ]:
df1.columns = ['Rental_ID','Start_time','End_time','Bike_ID','Duration(secs)','Start_station_ID','Start_station_name','End_station_ID','End_station_name','User_type','Gender','DOB']
df2.columns = ['Rental_ID','Start_time','End_time','Bike_ID','Duration(secs)','Start_station_ID','Start_station_name','End_station_ID','End_station_name','User_type','Gender','DOB']
df3.columns = ['Rental_ID','Start_time','End_time','Bike_ID','Duration(secs)','Start_station_ID','Start_station_name','End_station_ID','End_station_name','User_type','Gender','DOB']

In [ ]:
# Concatenting the 3 datasets iinto the total_trips dataframe

total_trips=pd.concat([df1,df2,df3])
total_trips.reset_index(drop=True,inplace=True)
total_trips.head()

,Rental_ID,Start_time,End_time,Bike_ID,Duration(secs),Start_station_ID,Start_station_name,End_station_ID,End_station_name,User_type,Gender,DOB
0,17536702,2018-01-01 00:12:00,2018-01-01 00:17:23,3304,323.0,69,Damen Ave & Pierce Ave,159,Claremont Ave & Hirsch St,Subscriber,Male,1988.0
1,17536703,2018-01-01 00:41:35,2018-01-01 00:47:52,5367,377.0,253,Winthrop Ave & Lawrence Ave,325,Clark St & Winnemac Ave (Temp),Subscriber,Male,1984.0
2,17536704,2018-01-01 00:44:46,2018-01-01 01:33:10,4599,"2,904.0",98,LaSalle St & Washington St,509,Troy St & North Ave,Subscriber,Male,1989.0
3,17536705,2018-01-01 00:53:10,2018-01-01 01:05:37,2302,747.0,125,Rush St & Hubbard St,364,Larrabee St & Oak St,Subscriber,Male,1983.0
4,17536706,2018-01-01 00:53:37,2018-01-01 00:56:40,3696,183.0,129,Blue Island Ave & 18th St,205,Paulina St & 18th St,Subscriber,Male,1989.0

In [ ]:
# checking the size of the total_trips dataframe

len(total_trips)

2949290

In [ ]:
total_trips.isnull().sum()

Rental_ID                  0
Start_time                 0
End_time                   0
Bike_ID                    0
Duration(secs)             0
Start_station_ID           0
Start_station_name         0
End_station_ID             0
End_station_name           0
User_type                  0
Gender                509722
DOB                   504657
dtype: int64

There are presence of infinite values in the dataset, INF is the result of a numerical calculation that is mathematically infinite, such as:
1/0 → INF.
the infinite values are first converted to 'nan' the removed using df.dropna()

In [ ]:
total_trips.replace([np.inf, -np.inf], np.nan, inplace=True)

In [ ]:
# Removing nulls in the dataset

total_trips = total_trips.dropna()

In [ ]:
# checking the size of the new total_trips dataframe

len(total_trips)

2439509

In [ ]:
total_trips.describe()

,Rental_ID,Bike_ID,Start_station_ID,End_station_ID,DOB
count,2.439509e+06,2.439509e+06,2.439509e+06,2.439509e+06,2.439509e+06
mean,1.924392e+07,3.512839e+03,1.909457e+02,1.917154e+02,1.982754e+03
std,1.018043e+06,1.946783e+03,1.373625e+02,1.370926e+02,1.087662e+01
min,1.753670e+07,1.000000e+00,2.000000e+00,2.000000e+00,1.895000e+03
25%,1.834171e+07,1.794000e+03,7.700000e+01,7.700000e+01,1.977000e+03
50%,1.923004e+07,3.632000e+03,1.720000e+02,1.730000e+02,1.986000e+03
75%,2.014355e+07,5.273000e+03,2.840000e+02,2.860000e+02,1.991000e+03
max,2.098353e+07,6.471000e+03,6.590000e+02,6.590000e+02,2.005000e+03

In [ ]:
# viewing the data

total_trips.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2439509 entries, 0 to 2949289
Data columns (total 12 columns):
 #   Column              Dtype
---  ------              -----
 0   Rental_ID           int64
 1   Start_time          object
 2   End_time            object
 3   Bike_ID             int64
 4   Duration(secs)      object
 5   Start_station_ID    int64
 6   Start_station_name  object
 7   End_station_ID      int64
 8   End_station_name    object
 9   User_type           object
 10  Gender              object
 11  DOB                 float64
dtypes: float64(1), int64(4), object(7)
memory usage: 242.0+ MB

In [ ]:
# converting the 'Duration(secs)' column into timedelta

total_trips['Duration(secs)']= total_trips['Duration(secs)'].astype('timedelta64[s]')

In [ ]:
# Formatting started_at and ended_at columns in order to count trip_duration

total_trips['Start_time']=pd.to_datetime(total_trips['Start_time'])
total_trips['End_time']=pd.to_datetime(total_trips['End_time'])

In [ ]:
# Extracting year, month, day and day_of_week variables from started_at column

total_trips["year"]= total_trips["Start_time"].dt.year
total_trips["month"]= total_trips["Start_time"].dt.month
total_trips["day"]= total_trips["Start_time"].dt.day
total_trips["day_of_week"]= total_trips["Start_time"].dt.day_name()

In [ ]:
# converting DOB column to datetime and extracting 'year' from the date

total_trips['DOB'] = pd.to_datetime(total_trips.DOB, format = '%Y')
total_trips["DOB"]=total_trips["DOB"].dt.year

In [ ]:
total_trips.head()

,Rental_ID,Start_time,End_time,Bike_ID,Duration(secs),Start_station_ID,Start_station_name,End_station_ID,End_station_name,User_type,Gender,DOB,year,month,day,day_of_week
0,17536702,2018-01-01 00:12:00,2018-01-01 00:17:23,3304,0 days 00:05:23,69,Damen Ave & Pierce Ave,159,Claremont Ave & Hirsch St,Subscriber,Male,1988,2018,1,1,Monday
1,17536703,2018-01-01 00:41:35,2018-01-01 00:47:52,5367,0 days 00:06:17,253,Winthrop Ave & Lawrence Ave,325,Clark St & Winnemac Ave (Temp),Subscriber,Male,1984,2018,1,1,Monday
2,17536704,2018-01-01 00:44:46,2018-01-01 01:33:10,4599,0 days 00:48:24,98,LaSalle St & Washington St,509,Troy St & North Ave,Subscriber,Male,1989,2018,1,1,Monday
3,17536705,2018-01-01 00:53:10,2018-01-01 01:05:37,2302,0 days 00:12:27,125,Rush St & Hubbard St,364,Larrabee St & Oak St,Subscriber,Male,1983,2018,1,1,Monday
4,17536706,2018-01-01 00:53:37,2018-01-01 00:56:40,3696,0 days 00:03:03,129,Blue Island Ave & 18th St,205,Paulina St & 18th St,Subscriber,Male,1989,2018,1,1,Monday

In [ ]:
# saving the new dataset

total_trips.to_csv('cyclistic_data.csv')

In [ ]:
b